// Colors
$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$white: #FFF;

// Font Size
$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
